USE [master]
GO
/****** Object:  Database [EAPEmployee]    Script Date: 2/14/2022 7:28:42 PM ******/
CREATE DATABASE [EAPEmployee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EAPEmployee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EAPEmployee.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EAPEmployee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EAPEmployee_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EAPEmployee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EAPEmployee]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/14/2022 7:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[EmpFirstName] [nvarchar](50) NOT NULL,
	[EmpLastName] [nvarchar](50) NOT NULL,
	[EmpAddress] [nvarchar](100) NULL,
	[EmpEmail] [nvarchar](50) NULL,
	[Phone] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
